@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(12, 32, 39);
}

.hero-column{
  display: flex;
}

.search-column {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.hero-list{
  display: flex;
  
}

.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10rem 10rem 10rem 10rem;
}

.container-combat {
  display: flex-box;
  flex-direction: row;
}

.card{
  width: 10rem;
  margin: 1rem 1rem 1rem 1rem;
}

.hero-card{
  background-color:rgb(9, 57, 75) !important;
}

.hero-card img{
  border-radius: 5%;
}

.hero-container{
  margin-bottom: 15rem;
}

.container {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.app h1 {
  font-size: 24px;
  color: darkblue;
}

.app p {
  font-size: 16px;
  color: rgb(12, 32, 39);
}
